 <%= link_to "Forum", posts_path %>

<h1>New Post</h1>


<%-# the @post is referencing our model and the form-for is a rails helper to show form in the view and help send it to model. = means show in view-%>

<%= render 'form' %>

