body {
  font-family: 'Istok Web', sans-serif;
  font-weight: lighter;
  color: $primary-color;
  background-color: black;
}

#welcome {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px;
}

#welcome p {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.header_container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: 1fr 500px 1fr;
}

#header {
  background-image: image-url('GinBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

#logo {
  width: 100%;
  display: block;
  vertical-align: middle;
  margin: auto;
}

.spacer {
  grid-column: span 3;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 1fr auto 1fr;

  }
}

#video1 {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: black;
  color: white;
  border: 2px solid white;
}

#video3 {
  flex: 1;
  padding: 20px;
  border: 2px solid white;
}

#video4 {
  padding: 20px;
  background-color: black;
  border: 2px solid white;
}

#video5 {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: black;
  color: white;
  border: 2px solid white;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

.vid-container {
  height: 100vh;
  width: 0;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  display: none;

}

.grid-video {
  width:100%;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  height: 100vh;
  opacity:1;
  transition:opacity 1s ease-in;
  &--hide{
    opacity:0;
  }
}

.box {
  width: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  overflow: auto;
}

.menu_box {
  width: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  overflow: auto;
}

#video2 {
  z-index: 0;
  background-color: #000000;
  padding: 20px;
  border: 2px solid white;

}

#menu{
  color:white;
}

/* Safari 4.0 - 8.0 */
.transform {
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.transform-active {
  width: 100vw;
}

.m_transform {
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.m_transform-active {
  width: 100vw;
}

.hide {
  opacity: 0;

}

.hidden {
  right: 0;
  opacity: 0;
  width: 40px;

}

.not-hidden {
  animation: fadeinbutton 4s;
  animation-delay: 2s;
  -moz-animation: fadeinbutton 4s;
  /* Firefox */
  animation-delay: 2s;
  -webkit-animation: fadeinbutton 4s;
  /* Safari and Chrome */
  animation-delay: 2s;
  -o-animation: fadeinbutton 4s;
  /* Opera */
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeinbutton {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;

  }

}

@-moz-keyframes fadeinbutton {
  /* Firefox */
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;

  }

}
@-webkit-keyframes fadeinbutton {
  /* Safari and Chrome */
  0% {
    width: 0;
  }

  100% {
    opacity: 1;

  }

}
@-o-keyframes fadeinbutton {
  /* Opera */
  0% {
    width: 0;
  }

  100% {
    opacity: 1;

  }
}




#close {
  top: 0;
  margin-top: 20px;
  margin-right: 20px;
  width: 40px;
  float: right;
  z-index: 12;
  position: fixed;
}

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: url('https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif') no-repeat center center rgba(0,0,0,0.25);
}

#text {
  transition: all 500ms ease;
  position: relative;
  padding: 10px;
}

#text:hover {

  animation: bounce 1s;

}

@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-7px);
    transform: translateY(-7 px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
